<form name="allForm" ng-controller="allValidators">
        <div class="container-fluid">
            <div class="row grid-row">
                <div class="col-md-1"><strong>Type</strong></div>
                <div class="col-md-2"><strong>Validated Field</strong></div>
                <div class="col-md-1"><strong>Enabled</strong></div>
                <div class="col-md-2"><strong>Message</strong></div>
                <div class="col-md-6"><strong>Parameters</strong></div>
            </div>
            <div class="row grid-row">
                <div class="col-md-1">Required</div>
                <div class="col-md-2" validator="required[requiredVal.enabled,requiredVal.message]">
                    <input type="text" class="form-control" 
                           id="requiredField" name="requiredField" 
                           ng-model="requiredVal.value">
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="checkbox"
                           ng-model="requiredVal.enabled">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" 
                           ng-model="requiredVal.message">
                </div>
                <div class="col-md-6">&nbsp;</div>
            </div>
            <div class="row grid-row">
                <div class="col-md-1">String</div>
                <div class="col-md-2" validator="string[stringVal.enabled,stringVal.minLength,stringVal.maxLength,stringVal.message]">
                    <input type="text" class="form-control" 
                           id="stringField" name="stringField" 
                           ng-model="stringVal.value">
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="checkbox"
                           ng-model="stringVal.enabled">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" 
                           ng-model="stringVal.message">
                </div>
                <div class="col-md-6">
                    <div class="form-inline">
                        <label>Min Length</label>
                        <input type="text" ng-model="stringVal.minLength">
                        <label>Max Length</label>
                        <input type="text" ng-model="stringVal.maxLength">
                    </div>
                </div>
            </div>
            <div class="row grid-row">
                <div class="col-md-1">Number</div>
                <div class="col-md-2" validator="number[numberVal.enabled,numberVal.minValue,numberVal.maxValue,numberVal.message]">
                    <input type="text" class="form-control" 
                           id="numberField" name="numberField" 
                           ng-model="numberVal.value">
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="checkbox"
                           ng-model="numberVal.enabled">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" 
                           ng-model="numberVal.message">
                </div>
                <div class="col-md-6">
                    <div class="form-inline">
                        <label>Min Value</label>
                        <input type="text" ng-model="numberVal.minValue">
                        <label>Max Value</label>
                        <input type="text" ng-model="numberVal.maxValue">
                    </div>
                </div>
            </div>
            <div class="row grid-row">
                <div class="col-md-1">Pattern</div>
                <div class="col-md-2" validator="regex[regexVal.enabled,regexVal.pattern,regexVal.message]">
                    <input type="text" class="form-control" 
                           id="patternField" name="patternField" 
                           ng-model="regexVal.value">
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="checkbox"
                           ng-model="regexVal.enabled">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" 
                           ng-model="regexVal.message">
                </div>
                <div class="col-md-6">
                    <div class="form-inline">
                        <label>Pattern</label>
                        <input type="text" ng-model="regexVal.pattern">
                    </div>
                </div>
            </div>
            <div class="row grid-row">
                <div class="col-md-1">Email</div>
                <div class="col-md-2" validator="email[emailVal.enabled,emailVal.message]">
                    <input type="text" class="form-control" 
                           id="emailField" name="emailField" 
                           ng-model="emailVal.value">
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="checkbox"
                           ng-model="emailVal.enabled">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" 
                           ng-model="emailVal.message">
                </div>
            </div>
            <div class="row grid-row">
                <div class="col-md-1">Url</div>
                <div class="col-md-2" validator="url[urlVal.enabled,urlVal.message]">
                    <input type="text" class="form-control" 
                           id="urlField" name="urlField" 
                           ng-model="urlVal.value">
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="checkbox"
                           ng-model="urlVal.enabled">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" 
                           ng-model="urlVal.message">
                </div>
            </div>
            <div class="row grid-row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default" ng-disabled="!allForm.$valid">Submit</button>
                </div>
            </div>
        </div>
</form>